doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pasadena Carpool Czar Tools
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='js/selectcars.js')
    link(rel='stylesheet', href='css/czarstyle.css')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/schedule') Schedule
            li.active
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/logout') Logout
      br
      .container.theme-showcase(role='main')
        h1 Form Results

        P Infromation when looking at the time forum:
        p If this is your First time Czaring, please look at the #[a(href='/howToCzar') how to czar page] for instruction
            on how to czar. For quick reference:
          ul
            li Blue: Possible times the preson can leave.
            li Green: The person is already in a car for this trip.
            li Purple: This person has been selected as a driver in the other direction so they must be a driver in this direction.

            li Brown: This person has been selected as a passenger in the other direction so they must be a passenger in this direction.

            li Click finish car when you have a complete car

        
        p Information when making a new car:
          ul
            li Orange Boarders, single click: This person has been selected as a passenger in the current car.
            li Red Boarders, one more click: This person has been selected as a driver in the current car.
            li to deselect someone click once more, for a total of three clicks.

        
        p Information when deleting cars:
          ul
            li To select car click on table once, it will turn red.
            li To deselect car click on table again, boarders will turn black again.
            li Click delete car once you have selected the cars you wish to delete.


        form#timeResults(method='POST', action='/czarData', onSubmit = '')
          each dayData in peoplesTimes
            h3= dayData.day

            //If the finished car is hit then we save what day we are using and call the make car function.
            button(class="btn btn-default",value='ADD', type='button' ,onClick='return makeCar("#{dayData.day}");') Finish Car
            button(class="btn btn-default",value='ADD', type='button' ,onClick='return deleteCar("#{dayData.day}");') Delete Car
            input(id='agreement', type='checkbox', class="override")
            | Overide Error Checking

            each AMPMData in dayData.times
              - AMPM = AMPMData.halfday
              h4= AMPM
              table.timetable
                tr.timetext
                  td
                  each hr in possibleDriveHours[AMPM]
                    td.hour(colspan='2')= hr
                    td.halfhour(colspan='2') :30
                  td
                each personData in AMPMData.people
                  tr(class='timeview'  data-toggle="popover" title=personData.name + ' Info' data-content= "Email: " + personData.email + "\n" + "Size of Car: " + personData.numPassengers + "\n" + "Notes: " + personData.notes data-trigger="hover")

                    td.name= personData.name
                    each hr,hrIdx in possibleDriveHours[AMPM]
                      each min,minIdx in [0, 15, 30, 45]

                        td(id=dayData.day+AMPM+(hr*100 + min), selected=(personData.canGos[hrIdx*4+minIdx].canGo.toString()), leftLine=(hrIdx != 0 && min == 0), carstatus='unassigned', mousedover='false')
                    unless personData.driveStatus == 'can'
                      td.driveStatus= personData.driveStatus + ' drive'
            //Create a car location which is where we will add cars
            div(id= dayData.day + 'Cars')
              h3 #{dayData.day}  Cars

            br(style="clear:both")
              

          button.btn.btn-default(type='submit', onClick='return checkForCompletion();') Submit Schedule 

          //-h2 Other Information
          //-ul
          //-  each result in formResults
          //-    li
          //-      table(style="table-layout: fixed; width: 100%")
          //-        each value,key in result
          //-          if key.substr(-'Times'.length) != 'Times' && key.substr(-'DriveStatus'.length) != 'DriveStatus'
          //-            tr
          //-              td= key
          //-              td= value
