doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pasadena Carpool Czar Tools
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='css/czarstyle.css')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/schedule') Schedule
            li.active
              a(href='/czar') Czar
      br
      .container.theme-showcase(role='main')
        h1 Form Results
        ul
          each day in weekdays
            h3= day
            each hours, AMPM in possibleDriveHours
              h4= AMPM
              table.timetable
                tr.timetext
                  td
                  each hr in hours
                    td.hour(colspan='2')= hr
                    td.halfhour(colspan='2') :30
                  td
                - todayTimeName = day + AMPM + 'Times'
                - sortedResults = formresults.slice().sort(function(a,b) { return b[todayTimeName] < a[todayTimeName]? 1 : (a[todayTimeName] < b[todayTimeName] ? -1 : 0) ; })
                each formSub in sortedResults
                  tr(class='timeview')
                    td.name= formSub.name
                    each hr in hours
                      each increment in [0, 15, 30, 45]
                        - relevantResult = formSub[todayTimeName]
                        - splitResult = relevantResult.split(",")
                        - timeAsNumber = (hr*100+increment).toString();
                        - isSelected = splitResult.indexOf(timeAsNumber) != -1
                        - classText = isSelected? 'selected' : 'unselected'
                        td(id=day+AMPM+(hr*100+increment), class=classText)
                    - todayDriveStatus = formSub[day + 'DriveStatus']
                    td.driveStatus
                      unless todayDriveStatus == 'can'
                        = todayDriveStatus + ' drive'

        h2 Other Information
        ul
          each result in formresults
            li
              table(style="table-layout: fixed; width: 100%")
                each value,key in result
                  if key.substr(-'Times'.length) != 'Times' && key.substr(-'DriveStatus'.length) != 'DriveStatus'
                    tr
                      td= key
                      td= value
