doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pasadena Carpool Czar Tools
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='dynamic/allPreferences.js')
    
    //There are a series of if statements like this which allow us to use this jade file for both editing the page for this week and next week

    if isNextWeek
      script(src='dynamic/nextweekSchedule.js')
    else
      script(src='dynamic/thisweekSchedule.js')
    
    script(src='js/makecartables.js')
    script(src='js/selectcars.js')
    link(rel='stylesheet', href='css/czarstyle.css')
    link(rel='stylesheet', href='css/cartable.css')

  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/schedule') Schedule
            li.active
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/preferences') Preferences
            li
              a(href='/contact') Contact Info
            li
              a(href='external') External Links
            li
              a(href='/logout') Logout

      br
      .container.theme-showcase(role='main')
        h1 Form Results

        P Infromation when looking at the time forum:
        p If this is your First time Czaring, please look at the #[a(href='/howToCzar') how to czar page] for instruction
            on how to czar. For quick reference:
          ul
            li Blue: Possible times the preson can leave.
            li Green: The person is already in a car for this trip.
            li Purple: This person has been selected as a driver in the other direction so they must be a driver in this direction.

            li Brown: This person has been selected as a passenger in the other direction so they must be a passenger in this direction.

            li Click finish car when you have a complete car

        
        p Information when making a new car:
          ul
            li Orange Boarders, single click: This person has been selected as a passenger in the current car.
            li Red Boarders, one more click: This person has been selected as a driver in the current car.
            li to deselect someone click once more, for a total of three clicks.

        
        p Information when deleting cars:
          ul
            li Press the x by the driver to delete the whole car
            li Press the x by the time to delete only one direction of the car


        br


        if isNextWeek
          p You are currently veiwing the Czarpage which edits the Schuedule for 
            b the next week. 
            | If you would like to edit a different week select it from the drop down menu.
        else
          p You are currently veiwing the Czarpage which edits the Schuedule for 
            b this week. 
            | If you would like to edit a different week select it from the drop down menu.

        div(class='dropdown')
          button(class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown") Edit Czar Page For
            span(class="caret")
          
          ul(class="dropdown-menu")
            li 
              a(href="/czar") Next Week
            li 
              a(href="/czarThisWeek") This Week


        #timeResults
          each dayData in peoplesTimes
            h3= dayData.day

            each AMPMData in dayData.times
              - AMPM = AMPMData.halfday
              h4= AMPM
              table.timetable(day=dayData.day, halfday=AMPM)
                tr.timetext
                  td
                  each hr in possibleDriveHours[AMPM]
                    td.hour(colspan='2')= hr
                    td.halfhour(colspan='2') :30
                  td
                each personData in AMPMData.people
                

                  tr(class='timeview' name=personData.name email=personData.email data-toggle="popover" title=personData.name + ' Info' data-content= "Email: " + personData.prefEmail + "\n" + "Size of Car: " + personData.numPassengers + "\n" + "Phone Number: " + + personData.phoneNumber + "\n" + "Notes: " + personData.notes data-trigger="hover" draggable = "true")
                    td.name= personData.name
                    each hr,hrIdx in possibleDriveHours[AMPM]
                      each min,minIdx in [0, 15, 30, 45]

                        td(time=hr*100 + min, selected=(personData.canGos[hrIdx*4+minIdx].canGo.toString()), leftLine=(hrIdx != 0 && min == 0), mousedover='false')
                    unless personData.driveStatus == 'can'
                      td.driveStatus= personData.driveStatus + ' drive'
            
            //If the finished car is hit then we save what day we are using and call the make car function.
            // CURRENT COMMENTING OUT FINISH CAR BUTTON XXX
            //button(class="btn btn-primary",value='ADD', type='button' ,onClick='return makeCar("#{dayData.day}");') Finish Car


            // make a new car box
            button(class = "btn btn-primary", type="button", onClick='makeCarBox("#{dayData.day}");') Make New Car


            button.btn.btn-default.btn-sm(type='button', data-toggle='collapse', data-target='#directAddCar'+dayData.day, aria-expanded='false', aria-controls='directAddCar'+dayData.day)
              | Directly Enter Car (Advanced)


            div(id=dayData.day)
            //  p The div is here! 


            //-button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
            //-  | Button with data-target


            div(id='directAddCar'+dayData.day, class="collapse")
              form(id='directAddForm'+dayData.day, action="", method="post")
                h4 Enter names or emails
                .form-group
                  label.text Driver
                    input(type='text', name='driver', required, class='driver')
                .form-group
                  label.text AM Time
                    input(type='time', name='AMtime', value="08:00", required, class='AMtime')
                  label.text PM Time
                    input(type='time', name='PMtime', value="17:00", required, class='PMtime')
                each i in [1,2,3,4,5,6]
                  .form-group
                    label.text AM Passenger
                      input(type='text', name='AMpassenger'+i, class='AMpassenger')
                    label.text PM Passenger
                      input(type='text', name='PMpassenger'+i, class='PMpassenger')
                  //.modal-footer
                button.btn.btn-primary(type='button', onClick='directlyAddCar("'+dayData.day+'")') Add Car
                button.btn.btn-default.btn-sm(type='button', onClick='directlyAddCarClear("'+dayData.day+'")') Clear
                button.btn.btn-default.btn-sm(type='button', data-toggle='collapse', data-target='#directAddCar'+dayData.day, aria-expanded='false', aria-controls='directAddCar'+dayData.day) Close

            //Create a car location which is where we will add cars
            div(id= dayData.day + 'Cars')
              h3 #{dayData.day}  Cars

            br(style="clear:both")


          // Button trigger modal
          button.btn.btn-default.btn-sm(type='button', data-toggle='modal', data-target='#directModifyJSON', onClick='populateModifyCarsModal()')
            | Modify Car JSON Directly (advanced)
          // Modal
          #directModifyJSON.modal.fade(tabindex='-1', role='dialog', aria-labelledby='directModifyJSON')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4.modal-title Directly Modify Cars
                .modal-body
                  textarea#directModifyJSONInput(rows=20)
                  // Will be populated by JS
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Discard Changes
                  button.btn.btn-primary(type='button', onClick='saveDirectCarModifyChanges()') Save Changes

          p

          if isNextWeek
            form#timeResults(method='POST', action='/czarData', onSubmit='submitCars();')
              button.btn.btn-primary(type='submit') Save Schedule 
              input(id="allCars" type='hidden' name="allCars")
          else
            form#timeResults(method='POST', action='/czarDataCurrent', onSubmit='submitCars();')
              button.btn.btn-primary(type='submit') Save Schedule 
              input(id="allCars" type='hidden' name="allCars")
