doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Example Czar Page
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='dynamic/examplePreferences.js')
    script(src='dynamic/exampleCars.js')
    script(src='js/makecartables.js')
    script(src='js/selectcars.js')
    link(rel='stylesheet', href='css/czarstyle.css')
    link(rel='stylesheet', href='css/cartable.css')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/schedule') Schedule
            li
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/preferences') Preferences
            li
              a(href='/contact') Contact Info
            li
              a(href='external') External Links
            li
              a(href='/emergency') Emergency
            li
              a(href='/logout') Logout

      br
      .container.theme-showcase(role='main')
        h1 Example Form Results
          
        #timeResults
          each dayData in peoplesTimes
            h3= dayData.day

            each AMPMData in dayData.times
              - AMPM = AMPMData.halfday
              h4= AMPM
              table.timetable(day=dayData.day, halfday=AMPM)
                tr.timetext
                  td
                  each hr in possibleDriveHours[AMPM]
                    td.hour(colspan='2')= hr
                    td.halfhour(colspan='2') :30
                  td
                each personData in AMPMData.people
                  tr(class='timeview' name=personData.name email=personData.email data-toggle="popover" title=personData.name + ' Info' data-content= "Email: " + personData.prefEmail + "\n" + "Size of Car: " + personData.numPassengers + "\n" + "Phone Number: " + + personData.phoneNumber + "\n" + "Notes: " + personData.notes data-trigger="hover")

                    td.name= personData.name
                    each hr,hrIdx in possibleDriveHours[AMPM]
                      each min,minIdx in [0, 15, 30, 45]

                        td(time=hr*100 + min, selected=(personData.canGos[hrIdx*4+minIdx].canGo.toString()), leftLine=(hrIdx != 0 && min == 0), mousedover='false')
                    unless personData.driveStatus == 'can'
                      td.driveStatus= personData.driveStatus + ' drive'
            //If the finished car is hit then we save what day we are using and call the make car function.
            button(class="btn btn-primary",value='ADD', type='button' ,onClick='return makeCar("#{dayData.day}");') Finish Car

            button.btn.btn-default.btn-sm(type='button', data-toggle='collapse', data-target='#directAddCar'+dayData.day, aria-expanded='false', aria-controls='directAddCar'+dayData.day)
              | Directly Enter Car (Advanced)

            //-button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
            //-  | Button with data-target


            div(id='directAddCar'+dayData.day, class="collapse")
              form(id='directAddForm'+dayData.day, action="", method="post")
                h4 Enter names or emails
                .form-group
                  label.text Driver
                    input(type='text', name='driver', required, class='driver')
                .form-group
                  label.text AM Time
                    input(type='time', name='AMtime', value="08:00", required, class='AMtime')
                  label.text PM Time
                    input(type='time', name='PMtime', value="17:00", required, class='PMtime')
                each i in [1,2,3,4,5,6]
                  .form-group
                    label.text AM Passenger
                      input(type='text', name='AMpassenger'+i, class='AMpassenger')
                    label.text PM Passenger
                      input(type='text', name='PMpassenger'+i, class='PMpassenger')
                  //.modal-footer
                button.btn.btn-primary(type='button', onClick='directlyAddCar("'+dayData.day+'")') Add Car
                button.btn.btn-default.btn-sm(type='button', onClick='directlyAddCarClear("'+dayData.day+'")') Clear
                button.btn.btn-default.btn-sm(type='button', data-toggle='collapse', data-target='#directAddCar'+dayData.day, aria-expanded='false', aria-controls='directAddCar'+dayData.day) Close

            //Create a car location which is where we will add cars
            div(id= dayData.day + 'Cars')
              h3 #{dayData.day}  Cars

            br(style="clear:both")

