doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Example Czar Page
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='js/selectcars.js')
    link(rel='stylesheet', href='css/czarstyle.css')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/schedule') Schedule
            li
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/logout') Logout
      br
      .container.theme-showcase(role='main')
        h1 Example Form Results
          
        form#timeResults(method='POST', action='/example', onSubmit = '')
          if formResults.length == 0
            | None yet
          else
            each dayData in peoplesTimes
              h3= dayData.day

              //If the finished car is hit then we save what day we are using and call the make car function.
              button(class="btn btn-default",value='ADD', type="button" ,onClick='return makeCar("#{dayData.day}");') Finish Car
              button(class="btn btn-default",value='ADD', type="button" ,onClick='return deleteCar("#{dayData.day}");') Delete Car
              input(id='agreement', type='checkbox', class="override")
              | Overide Error Checking

              each AMPMData in dayData.times
                - AMPM = AMPMData.halfday
                h4= AMPM
                table.timetable
                  tr.timetext
                    td
                    each hr in possibleDriveHours[AMPM]
                      td.hour(colspan='2')= hr
                      td.halfhour(colspan='2') :30
                    td
                  each personData in AMPMData.people
                    tr(class='timeview')
                      td.name= personData.name
                      each hr,hrIdx in possibleDriveHours[AMPM]
                        each min,minIdx in [0, 15, 30, 45]

                          td(id=dayData.day+AMPM+(hr*100 + min), selected=(personData.canGos[hrIdx*4+minIdx].canGo.toString()), leftLine=(hrIdx != 0 && min == 0), carstatus='unassigned', mousedover='false')
                      unless personData.driveStatus == 'can'
                        td.driveStatus= personData.driveStatus + ' drive'
              //Create a car location which is where we will add cars
              div(id= dayData.day + 'Cars')
                h3 #{dayData.day}  Cars

              br(style="clear:both")

          button.btn.btn-default(type='submit', onClick='return checkForCompletion();') Submit Schedule 
