doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pasadena Carpool Signups
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='js/highlight.js')
    link(rel='stylesheet', href='css/formstyle.css')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/schedule') Schedule
            li
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/preferences') Preferences
            li
              a(href='/contact') Contact Info
            li
              a(href='external') External Links
            li
              a(href='/emergency') Emergency
            li
              a(href='/logout') Logout
      br
      .container.theme-showcase(role='main')
        h1
          | Your times
        form#timeForm(method='POST', action='/times', onsubmit='submitForm();')
          .form-group
            label Drag over the gray boxes in the top rows below to paint over the times when you can leave.

            #alltimeinputs
              each dayData in peoplesTimes
                h3= dayData.day
                label.radio-inline
                  input(type='radio', name=dayData.day + 'DriveStatus', value='must')
                  | Must Drive
                label.radio-inline
                  input(type='radio', name=dayData.day + 'DriveStatus', value='can', checked)
                  | Can drive
                label.radio-inline
                  input(type='radio', name=dayData.day + 'DriveStatus', value='cannot')
                  | Cannot drive
                label.radio-inline
                  input(type='radio', name=dayData.day + 'DriveStatus', value='cannot')
                  | Not In Carpool
                br
                label.checkbox-inline
                  input(type='checkbox', name=dayData.day + 'TravelStatus', value='AMonly')
                  | Only traveling in the AM
                label.checkbox-inline
                  input(type='checkbox', name=dayData.day + 'TravelStatus', value='PMonly')
                  | Only traveling in the PM
                br
                label.checkbox-inline
                  input(type='checkbox', name=dayData.day + 'Count', value='addOne')
                  | Plus one
                
                each AMPMData in dayData.times
                  - AMPM = AMPMData.halfday
                  h4= AMPM
                  table.timetable
                    tr.timetext
                      td
                      each hr in possibleDriveHours[AMPM]
                        td.hour(colspan='2')= hr
                        td.halfhour(colspan='2') :30
                      td
                    tr(class='timeinput' id='timeinput'+dayData.day+AMPM)
                      td.name You
                      each hr,hrIdx in possibleDriveHours[AMPM]
                        each increment in [0, 15, 30, 45]
                          td(id=dayData.day+AMPM+(hr*100+increment), selected='false', leftLine=(hrIdx != 0 && increment == 0))
                    each personData in AMPMData.people
                      tr(class='timeview')
                        td.name= personData.name
                        each hr,hrIdx in possibleDriveHours[AMPM]
                          each min,minIdx in [0, 15, 30, 45]
                            td(id=dayData.day+AMPM+(hr*100), selected=(personData.canGos[hrIdx*4+minIdx].canGo.toString()), leftLine=(hrIdx != 0 && min == 0), carstatus='unassigned', mousedover='false')
                        unless personData.driveStatus == 'can'
                          td.driveStatus= personData.driveStatus + ' drive'

                
                label(for='notes') #{dayData.day} Notes
                input#notes.form-control(type='notes', name=dayData.day + 'notes')
          each day in weekdays
            each AMPM in ['AM', 'PM']
              - nm = day+AMPM+'Times'
              input(id=nm, type='hidden', name=nm)

          button.btn.btn-default(type='submit') Submit
