//- Should be given a list of cars:
//- var cars = [ { 'driver':'Louise', 'AM':{ 'time':'10:30 AM', 'passengers':['George', 'Alex', 'Johanna'] }, 'PM':{'time':'4:45 PM', 'passengers':[]}} ]
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pasadena Carpool Schedule
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='css/schedulestyle.css')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/schedule') Schedule
            li
              a(href='/czar') Czar
            li
              a(href='/newUser') Add New User
            li
              a(href='/preferences') Preferences
            li
              a(href='/contact') Contact Info
            li
              a(href='external') External Links
            li
              a(href='/logout') Logout
      br
      .container.theme-showcase(role='main')
        each type in [{title:"Your Cars",relevantcars:userscars},{title:"All Cars",relevantcars:allcars}]
          h1=type.title
          each car in type.relevantcars
            table(class='table fullcartable table-bordered')
              tr.driver
                td(colspan='2')=car.driver+' (driver)'
                  //a(title="Car driver", class="tooltip") MyToolTip
              - var i=0
              tr
                td=car.AM.time
                td=car.PM.time
              while i<car.AM.passengers.length || i<car.PM.passengers.length
                tr.passenger
                  td=car.AM.passengers[i]
                  td=car.PM.passengers[i]
                - ++i
          br(style="clear:both;")
